<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>    
        <meta charset="utf-8">        
        <title>HOME</title>        
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>   
    
    <body>
        <?php echo $this->content(); ?>

    </body>
</html>